            /*general*/
            
            * {
                box-sizing: border-box;
                margin: 0px;
                padding: 0px;
                font-family: Trebuchet MS, Arial, sans-serif;
            }
            
            body {
                background: radial-gradient(black, silver, black);
                color: #fff;
            }
            
            header {
                height: 175px;
            }
            
            .main-logo {
                position: relative;
                top: 35px;
                left: 50px;
                font-size: 25px;
                display: inline-block;
            }
            
            nav {
                position: relative;
                top: 75px;
            }
            
            ul {
                list-style-type: none;
            }
            /**First part of the website: header, jumbotron, intro**/
            
            .header {
                color: goldenrod;
            }
            
            header img {
                padding: 25px 0px;
                width: 225px;
            }
            
            header ul {
                text-transform: uppercase;
                text-align: center;
                position: relative;
                bottom: 60px;
            }
            
            header li {
                display: inline-block;
                margin: 0px 20px;
            }
            
            header li:hover {
                color: goldenrod;
            }
            
            .headlines {
                text-align: center;
                position: relative;
                z-index: 10;
                bottom: 650px;
            }
            
            img {
                position: relative;
                bottom: 80px;
                border-radius: 20px;
                object-fit: cover;
            }
            
            h1 {
                font-size: 500%;
                text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #fff, 0 0 0.4em #ffd700, 0 0 0.6em #ffdd1f, 0 0 0.8em #ffdd1f, 0 0 1.0em #ffdd1f, 0 0 1.2em #ffdd1f;
                color: #fff;
            }
            
            h1+h2 {
                font-size: 150%;
                color: white;
                display: inline;
            }
            
            h1+h2:hover {
                font-size: 165%;
            }
            
            .welcome {
                text-align: center;
                position: relative;
                left: 730px;
                bottom: 400px;
                margin-bottom: 10px;
                width: 500px;
                color: transparent;
                background-image: linear-gradient(to right, #462523 0, #cb9551 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #c59b51 78%, #462523 100%);
                -webkit-background-clip: text;
                background-clip: text;
            }
            
            .welcometext {
                position: relative;
                bottom: 90px;
                right: 70px;
            }
            
            .intro {
                padding: 0px 30px;
                text-align: center;
                width: 500px;
                position: relative;
                left: 725px;
                bottom: 400px;
                font-weight: 600;
                font-size: 20px;
                font-family: "Garamond", Tahoma, serif;
            }
            
            .gold {
                font-family: "Garamond", Tahoma, serif;
                color: transparent;
                background-image: linear-gradient(to right, #462523 0, #cb9551 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #c59b51 78%, #462523 100%);
                -webkit-background-clip: text;
                background-clip: text;
            }
            
            span.gold:hover {
                color: white;
            }
            
            .size1 {
                height: 625px;
            }
            /*newsletter*/
            
            .chris {
                width: 400px;
                position: relative;
                left: 800px;
                border-radius: 20px;
            }
            
            .size2 {
                height: 400px;
            }
            
            .contact {
                padding: 6px 0px;
                color: transparent;
                background-image: linear-gradient(to right, #462523 0, #cb9551 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #c59b51 78%, #462523 100%);
                -webkit-background-clip: text;
                background-clip: text;
            }
            
            h2.contact:hover {
                color: white;
            }
            
            .contact1 {
                position: relative;
                bottom: 250px;
                text-align: center;
                color: white;
                right: 150px;
            }
            
            .signup {
                font-size: 22px;
                color: white;
                padding: 6px 0px;
            }
            
            .email {
                padding: 6px 0px;
                font-weight: bold;
            }
            
            .email1 {
                padding: 6px 0px;
                font-weight: bold;
            }
            
            .email1:hover {
                color: goldenrod;
            }
            /**Second part of the website: Three questions**/
            /*What kind?*/
            
            .kind {
                margin-top: 80px;
                text-align: center;
                color: transparent;
                background-image: linear-gradient(to right, #462523 0, #cb9551 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #c59b51 78%, #462523 100%);
                -webkit-background-clip: text;
                background-clip: text;
            }
            
            .right_one {
                display: flex;
                justify-content: space-around;
                width: 1150px;
            }
            
            .right_one_li {
                width: 150px;
                border-radius: 6px;
                margin: 70px 30px 30px;
                padding: 15px;
            }
            
            .size {
                width: 250px;
                border-radius: 10px;
            }
            
            .size:hover {
                transform: scale(1.1, 1.1);
            }
            
            .subtitle1 {
                text-align: center;
                width: 225px;
                margin-top: 10px;
                display: inline;
                font-family: "Garamond", Tahoma, serif;
                font-size: 19px;
            }
            
            .subtitle1:hover {
                color: goldenrod;
            }
            
            .subtitle2 {
                text-align: center;
                width: 250px;
                margin-top: 10px;
                display: inline;
                font-family: "Garamond", Tahoma, serif;
                font-size: 19px;
            }
            
            .subtitle2:hover {
                color: goldenrod;
            }
            /*Quiz funnel*/
            
            .funnel {
                margin-bottom: 75px;
            }
            
            .quiz {
                margin: 80px 0px 70px 0px;
                text-align: center;
                color: transparent;
                background-image: linear-gradient(to right, #462523 0, #cb9551 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #c59b51 78%, #462523 100%);
                -webkit-background-clip: text;
                background-clip: text;
            }
            
            .question1 {
                text-align: center;
                margin: 30px;
                font-size: 18px;
                font-weight: bold;
            }
            
            .answers {
                text-align: center;
                display: flex;
                flex-direction: column;
            }
            
            .list {
                display: flex;
                flex-direction: column;
            }
            /*Do It Yourself; .answers is the same as .answers1 however maybe I wanna change just one of both later*/
            
            .own-website {
                margin-bottom: 75px;
            }
            
            .own {
                text-align: center;
                margin: 30px 0px 40px;
                color: transparent;
                background-image: linear-gradient(to right, #462523 0, #cb9551 22%, #f6e27a 45%, #f6f2c0 50%, #f6e27a 55%, #c59b51 78%, #462523 100%);
                -webkit-background-clip: text;
                background-clip: text;
            }
            
            .answers1 {
                text-align: center;
                margin: 7px;
                display: inline;
                font-family: "Garamond", Tahoma, serif;
                font-size: 20px;
            }
            
            .answers1:hover {
                color: goldenrod;
            }
            
            ul.answers li {
                margin: 7px;
                display: inline;
                font-family: "Garamond", Tahoma, serif;
                font-size: 20px;
            }
            
            ul.answers li:hover {
                color: goldenrod;
            }
            /*References*/
            
            .title {
                margin-bottom: 100px;
            }
            
            .references {
                text-align: center;
                margin: 30px 0px 50px;
            }
            
            .smaller {
                width: 140px;
            }
            
            .gallery {
                width: 180px;
                margin: 5px;
            }
            
            .gallery-center {
                display: flex;
                justify-content: center;
                margin-top: 65px;
            }
            
            div.gallery img:hover {
                transform: scale(1.25, 1.25);
            }
            /*Footer*/
            
            footer {
                color: #747373;
                background-color: #191919;
                font-size: 13px;
            }
            
            footer section {
                display: flex;
                justify-content: center;
                width: 850px;
                align-items: flex-start;
                position: relative;
                left: 350px;
                height: 100px;
                padding: 25px;
            }
            
            footer div {
                margin: 0px 50px 25px;
            }